{% extends 'base.twig' %}
{% block main %}
    <br>
    <div class="container-shaded">
        <h4>Lietotājs</h4>
        <h3>{{ message }}</h3>
        <h4>ir veiksmīgi autorizējies</h4>
    </div>
{% endblock %}
{% block button %}{% include 'home-button.twig' %}{% endblock %}