{% extends 'base.twig' %}
{% block main %}
    <br>
    <div class="container-shaded">
        {% if SESSION.auth_id is defined %}
            <form method="post" action="/logout">
                <input type="submit" class="button-blue" id="submit" value="Pārtraukt sesiju">
            </form>
        {% else %}
            <h3>Lietotāja identifikācija</h3>
            <br>
            <form method="post" action="/login">
                <label for="code">Personas kods:</label>
                <input type="text" class="text-input" id="code" name="code">
                <br><br>
                <input type="submit" class="button-green" id="submit" value="Autorizēties">
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block button %}{% include 'home-button.twig' %}{% endblock %}