<!doctype html>
<html lang="lv">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Personas datu reģistrs</title>
</head>
<body>
<div class="container-page">
    <div>
        <h1>Personas datu reģistrs</h1>
        {% block login %}{% endblock %}
        {% block search %}{% endblock %}
        {% block main %}{% endblock %}
        {% block button %}{% endblock %}
    </div>
</div>
</body>
</html>