<form action="/login" method="get">
    <input type="submit"
           value="{% if SESSION.auth_id is defined %}Pārtraukt sesiju{% else %}Autorizēties{% endif %}"
           class="button-small-blue"/>
</form>