<br>
<div class="container-shaded">
    <form method="get">
        <label for="query">Ko meklēt:</label>
        <input type="text" class="text-input" id="query" name="query"
               value="{% if GET.query is defined %}{{ GET.query }}{% endif %}"/>
        <label for="column">Meklēšanas kritērijs:</label>
        <select class="search-select" id="column" name="search">
            <option value="code" {% if GET.search is defined and GET.search == 'code' %}selected{% endif %}>
                personas kods
            </option>
            <option value="name" {% if GET.search is defined and GET.search == 'name' %}selected{% endif %}>
                vārds
            </option>
            <option value="surname" {% if GET.search is defined and GET.search == 'surname' %}selected{% endif %}>
                uzvārds
            </option>
            <option value="gender" {% if GET.search is defined and GET.search == 'gender' %}selected{% endif %}>
                dzimums
            </option>
            <option value="address" {% if GET.search is defined and GET.search == 'address' %}selected{% endif %}>
                adrese
            </option>
        </select>
        <input type="submit" value="Meklēt" class="button-blue">
    </form>
</div>