body {
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
}

table {
    border-style: solid;
    border-width: 3px;
    border-collapse: collapse;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(odd) {
    background-color: #f8eeee;
}

td, header {
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: large;
}

.header {
    background-color: maroon;
    color: white;
    border-right-color: white;
    border-bottom-width: 3px;
    text-align: center;
    font-weight: bold;
}

.name {
    text-align: left;
}

.amount, .number {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

.price, .no-price {
    text-align: center;
}

.no-price {
    color: maroon;
    font-size: medium;
}

.button, .input-box {
    background-color: white;
    color: black;
    border: 2px solid maroon;
    display: inline;
    font-size: large;
}

.input-box {
    width: 3em;
}

.button:hover {
    background-color: maroon;
    color: white;
}

.grand-total {
    background-color: maroon;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
}